.testimonial-wrapper{
  padding:80px 20px;
  max-width:1300px;
  margin:auto;
}

.section-title{
  text-align:center;
  font-size:29px;
  letter-spacing:3px;
  margin-bottom:60px;
  font-weight: bold;
  color:#333;
}


.testimonial-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:45px;
  margin-bottom:-50px;
}


.testimonial-card{
  background:#fff;
  border-radius:20px;
  padding:75px 30px 35px;
  position:relative;
  margin-bottom:50px;
  min-height:300px;
  box-shadow:0 25px 45px rgba(0,0,0,.12);
  transition:.4s ease;
}

.testimonial-card:hover{
  transform:translateY(-12px) scale(1.02);
  box-shadow:0 40px 70px rgba(0,0,0,.18);
}


.top-badge{
  position:absolute;
  top:-26px;
  left:24px;
  background:#2f5fa7;
  color:#fff;
  padding:16px 24px;
  border-radius:16px;
  width:65%;
}

.top-badge strong{
  display:block;
  font-size:15px;
}

.top-badge span{
  font-size:13px;
  opacity:.9;
}


.avatar{
  position:absolute;
  top:32px;
  right:24px;
  width:85px;
  height:85px;
  border-radius:50%;
  overflow:hidden;
  border:4px solid #fff;
  box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.avatar img{
  width:100%;
  height:100%;
  object-fit:cover;
}


.content{
  margin-top:20px;
  border-left:3px solid #2f5fa7;
  padding-left:18px;
}

.stars{
  color:#f5b400;
  font-size:18px;
  margin-bottom:12px;
}

.content p{
  font-size:15px;
  line-height:1.7;
  color:#555;
}



/* Tablets */
@media (max-width: 991px){
  .testimonial-grid{
    grid-template-columns:repeat(2,1fr);
    gap:30px;
  }

  .section-title{
    font-size:24px;
  }
}

/* Mobile */
@media (max-width: 576px){
  .testimonial-grid{
    grid-template-columns:1fr;
  }

  .testimonial-card{
    padding:85px 22px 30px;
  }

  .top-badge{
    width:75%;
    padding:14px 18px;
  }

  .avatar{
    width:70px;
    height:70px;
    top:38px;
  }

  .content p{
    font-size:14px;
  }
}


.carousel{
  margin-top:80px;
}

.testimonial-heading{
  text-align:center;
  margin-bottom:20px;
  font-weight:700;  
}

.testimonial-heading h2{
  font-size:30px;
  font-weight:700;  
  letter-spacing:3px;
  color:#333;
}

#videoCarousel{
  margin-top: 10px;
}

/* Mobile */
@media (max-width:576px){
  .testimonial-heading h2{
    font-size:24px;
  }
}
#videoCarouselUnique {
  position: relative;
  z-index: 5;
}
#videoCarouselUnique .carousel-control-prev,
#videoCarouselUnique .carousel-control-next {
  width: 5%;
}
.carousel {
  isolation: isolate;
}
.carousel video {
  height: 700px;
  width: 90%;
  object-fit: cover;
  border-radius: 3rem;
}
#videoCarouselUnique{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}
